*.suo
*.dll
SamuraiApp/SamuraiApp.Data/bin/Debug/net5.0/SamuraiApp.Data.deps.json
SamuraiApp/SamuraiApp.Data/bin/Debug/net5.0/SamuraiApp.Data.pdb
SamuraiApp/SamuraiApp.Data/bin/Debug/net5.0/SamuraiApp.Domain.pdb
SamuraiApp/SamuraiApp.Data/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
SamuraiApp/SamuraiApp.Data/obj/Debug/net5.0/SamuraiApp.Data.AssemblyInfo.cs
SamuraiApp/SamuraiApp.Data/obj/Debug/net5.0/SamuraiApp.Data.AssemblyInfoInputs.cache
SamuraiApp/SamuraiApp.Data/obj/Debug/net5.0/SamuraiApp.Data.assets.cache
SamuraiApp/SamuraiApp.Data/obj/Debug/net5.0/SamuraiApp.Data.csproj.AssemblyReference.cache
SamuraiApp/SamuraiApp.Data/obj/Debug/net5.0/SamuraiApp.Data.csproj.CopyComplete
SamuraiApp/SamuraiApp.Data/obj/Debug/net5.0/SamuraiApp.Data.csproj.CoreCompileInputs.cache
SamuraiApp/SamuraiApp.Data/obj/Debug/net5.0/SamuraiApp.Data.csproj.FileListAbsolute.txt
SamuraiApp/SamuraiApp.Data/obj/Debug/net5.0/SamuraiApp.Data.GeneratedMSBuildEditorConfig.editorconfig
SamuraiApp/SamuraiApp.Data/obj/Debug/net5.0/SamuraiApp.Data.pdb
SamuraiApp/SamuraiApp.Data/obj/project.assets.json
SamuraiApp/SamuraiApp.Data/obj/project.nuget.cache
SamuraiApp/SamuraiApp.Data/obj/SamuraiApp.Data.csproj.nuget.dgspec.json
SamuraiApp/SamuraiApp.Data/obj/SamuraiApp.Data.csproj.nuget.g.props
SamuraiApp/SamuraiApp.Data/obj/SamuraiApp.Data.csproj.nuget.g.targets
SamuraiApp/SamuraiApp.Domain/bin/Debug/net5.0/SamuraiApp.Domain.deps.json
SamuraiApp/SamuraiApp.Domain/bin/Debug/net5.0/SamuraiApp.Domain.pdb
SamuraiApp/SamuraiApp.Domain/obj
SamuraiApp/SamuraiApp.Ui/obj
